.btn-base {
  border-radius: 4px;
  display: inline-block;
  font-family: $source-sans-pro;
  font-size: 14px;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;

  &:not(:disabled):hover {
    cursor: pointer;
    text-decoration: none;
  }

  &:disabled {
    opacity: .65;
  }
}

.btn-primary {
  @extend .btn-base;
  background-color: $brulee-blue;
  border: 1px solid darken($brulee-blue, 5%);
  color: $brulee-white;

  &:not(:disabled):hover {
    background-color: darken($brulee-blue, 10%);
    border-color: darken($brulee-blue, 17%);
    color: $brulee-white;
  }
}

.btn-delete {
  @extend .btn-base;
  background-color: $brulee-red;
  border: 1px solid darken($brulee-red, 5%);
  color: $brulee-white;

  &:not(:disabled):hover {
    background-color: darken($brulee-red, 10%);
    border-color: darken($brulee-red, 17%);
    color: $brulee-white;
  }
}

.btn-external-link {
  @extend .btn-base;
  background-color: $brulee-purple-medium;
  border: 1px solid darken($brulee-purple-medium, 5%);
  color: $brulee-white;

  &:not(:disabled):hover {
    background-color: darken($brulee-purple-medium, 10%);
    border-color: darken($brulee-purple-medium, 17%);
  }
}

.btn-select {
  @extend .btn-base;
  background-color: $brulee-green-dark;
  border: 1px solid darken($brulee-green-dark, 5%);
  color: $brulee-white;

  &:not(:disabled):hover {
    background-color: darken($brulee-green-dark, 10%);
    border-color: darken($brulee-green-dark, 17%);
    color: $brulee-white;
  }
}

.btn-weak {
  @extend .btn-base;
  background-color: $brulee-white;
  border: 1px solid $brulee-grey-light;
  color: $brulee-steel-medium-dark;

  &:not(:disabled):hover {
    background-color: darken($brulee-white, 12%);
    border-color: darken($brulee-grey-light, 12%);
    color: $brulee-steel-medium-dark;
  }
}
