.btn-base {
  border-radius: 4px;
  display: inline-block;
  font-size: 14px;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;

  &:not(:disabled):hover {
    cursor: pointer;
  }

  &:disabled {
    opacity: .65;
  }
}

.btn-primary {
  @extend .btn-base;
  background-color: #428bca;
  border: 1px solid #357ebd;
  color: #fff;

  &:not(:disabled):hover {
    background-color: #3071a9;
    border-color: #285e8e;
  }
}

.btn-delete {
  @extend .btn-base;
  background-color: #d9534f;
  border: 1px solid #d43f3a;
  color: #fff;

  &:not(:disabled):hover {
    background-color: #c9302c;
    border-color: #ac2925;
  }
}

.btn-external-link {
  @extend .btn-base;
  background-color: #5cb85c;
  border: 1px solid #4cae4c;
  color: #fff;

  &:not(:disabled):hover {
    background-color: #449d44;
    border-color: #398439;
  }
}

.btn-select {
  @extend .btn-base;
  background-color: #f0ad4e;
  border: 1px solid #eea236;
  color: #fff;

  &:not(:disabled):hover {
    background-color: #ec971f;
    border-color: #d58512;
  }
}

.btn-weak {
  @extend .btn-base;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;

  &:not(:disabled):hover {
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}
