.btn-base {
  border-radius: 4px;
  display: inline-block;
  font-family: $source-sans-pro;
  font-size: 14px;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;

  &:not(:disabled):hover {
    cursor: pointer;
  }

  &:disabled {
    opacity: .65;
  }
}

.btn-primary {
  @extend .btn-base;
  background-color: $brulee-blue;
  border: 1px solid darken($brulee-blue, 5%);
  color: $brulee-white;

  &:not(:disabled):hover {
    background-color: darken($brulee-blue, 10%);
    border-color: darken($brulee-blue, 17%);
  }
}

.btn-delete {
  @extend .btn-base;
  background-color: $brulee-red;
  border: 1px solid darken($brulee-red, 5%);
  color: $brulee-white;

  &:not(:disabled):hover {
    background-color: darken($brulee-red, 10%);
    border-color: darken($brulee-red, 17%);
  }
}

.btn-external-link {
  @extend .btn-base;
  background-color: $brulee-green;
  border: 1px solid darken($brulee-green, 5%);
  color: $brulee-white;

  &:not(:disabled):hover {
    background-color: darken($brulee-green, 10%);
    border-color: darken($brulee-green, 17%);
  }
}

.btn-select {
  @extend .btn-base;
  background-color: $brulee-orange;
  border: 1px solid darken($brulee-orange, 5%);
  color: $brulee-white;

  &:not(:disabled):hover {
    background-color: darken($brulee-orange, 10%);
    border-color: darken($brulee-orange, 17%);
  }
}

.btn-weak {
  @extend .btn-base;
  background-color: $brulee-white;
  border: 1px solid $brulee-grey-light;
  color: $brulee-black-medium;

  &:not(:disabled):hover {
    background-color: $brulee-grey-lightestest;
    border-color: $brulee-grey-medium-light;
  }
}
