.cat-main-section {
  display: flex;
  margin-top: 30px;
  width: 100%;
}

.cat-list-section {
  padding-right: 10px;
  width: 50%;
}

.cat-category-edit {
  background-color: $brulee-steel-light;
  border: 1px solid $brulee-grey-lightest;
  color: $brulee-purple-medium;
  display: flex;
  margin-bottom: -1px;
  padding: 10px 15px;

  input {
    flex-grow: 1;
  }
}

.cat-category-ingredient {
  border: 1px solid $brulee-grey-lightest;
  margin-bottom: -1px;
  padding: 10px 15px;
}

.cat-category-add-ingredient {
  border: 1px solid $brulee-grey-lightest;
  margin-bottom: -1px;
  padding: 0 15px;
}

.cat-action-section {
  padding-left: 10px;
  width: 50%;
}

.cat-new-category-form {
  display: flex;
  margin-top: 20px;

  input {
    flex-grow: 1;
  }
}

@media screen and (max-width: 992px) {
  .cat-main-section {
    display: block;
  }

  .cat-list-section {
    padding-right: 0;
    width: 100%;
  }

  .cat-action-section {
    padding-left: 0;
    width: 100%;
  }
}
