.cat-main-section {
  margin-top: 30px;
  width: 100%;
}

.cat-list-section {
}

.cat-category {
  margin-top: 40px;
}

.cat-action-section {
}

.cat-new-category-form {
  display: flex;
  margin-top: 20px;

  input {
    width: 300px;
  }
}

.bru-categoryEditListItem {
  &-header {
    display: flex;
    width: 100%;
  }

  &-titleEdit[type="text"] {
    background-color: transparent;
    border: 1px solid $brulee-grey-lightest;
    border-radius: 0;
    color: $brulee-purple-medium;
    flex-grow: 1;
    font-size: 14px;
    height: auto;
    padding: 10px 15px;
  }

  &-actions {
    align-items: center;
    display: flex;

    .btn-weak {
      margin-left: 10px;
    }
  }

  &-addIngredientForm {
    border-bottom: 1px solid $brulee-grey-lightest;
    padding: 0 15px;
  }
}

.bru-ingredientEditList {
  &-ingredientList {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }

  &-ingredient {
    padding: 5px 15px;
    width: 25%;

    .btn-weak {
      border: none;
      padding: 5px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .bru-ingredientEditList-ingredient {
    width: 50%;
  }
}

@media screen and (max-width: 992px) {
  .cat-main-section {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .bru-categoryEditListItem-header {
    display: block;
  }

  .bru-categoryEditListItem-titleEdit {
    width: 100%;
  }

  .bru-categoryEditListItem-actions {
    margin-top: 10px;
  }

  .bru-ingredientEditList-ingredient {
    width: 100%;
  }
}
