$brulee-black-medium: #333;
$brulee-black-light: #555;

$brulee-blue: #428bca;

$brulee-blue-grey-light: #f6f9fc;
$brulee-blue-grey-medium: #8898aa;
$brulee-blue-grey-dark: #5d6483;

$brulee-green: #5cb85c;

$brulee-olive-light: #b1d08e;
$brulee-olive-dark: #51623f;

$brulee-orange: #f0ad4e;

$brulee-red: #d9534f;

$brulee-grey-darkest: #777;
$brulee-grey-dark: #888;
$brulee-grey-medium-dark: #999;
$brulee-grey-medium-light: #adadad;
$brulee-grey-light: #ccc;
$brulee-grey-lightest: #ddd;
$brulee-grey-lightestest: #eee;

$brulee-teal-light: #d9edf7;
$brulee-teal-dark: #31708f;

$brulee-white: #fff;

$error-red-light: #f2dede;
$error-red-dark: red;

$success-green-light: #dff0d8;
$success-green-dark: green;
