$brulee-blue: #3297d3;

$brulee-green-light: #b9f4bc;
$brulee-green-medium: #6ed69a;
$brulee-green-dark: #24b47e;

$brulee-grey-light: #ccc;
$brulee-grey-lightest: #ddd;

$brulee-purple-medium: #6772e5;
$brulee-purple-dark: #32325d;

$brulee-red: #d33141;

$brulee-steel-light: #f6f9fc;
$brulee-steel-medium-light: #8898aa;
$brulee-steel-medium-dark: #6b7c93;
$brulee-steel-dark: #5d6483;

$brulee-white: #fff;

$error-red-light: #f2dede;
$error-red-dark: $brulee-red;

$success-green-light: $brulee-green-light;
$success-green-dark: $brulee-green-dark;

