.grocery-list-section {
  margin-top: 30px;
  width: 40%;
}

.gl-recipe-days {
  border: 1px solid $brulee-grey-lightest;
  margin: 20px 0;
}

.gl-recipe-day {
  padding: 10px 15px;
}

.grocery-ingredient-list {
  padding-bottom: 20px;
  padding-top: 20px;
}

.grocery-ingredient-list-category-header {
  background-color: $brulee-teal-light;
  border: 1px solid $brulee-grey-lightest;
  color: $brulee-teal-dark;
  margin-bottom: -1px;
  padding: 10px 15px;
}

.grocery-ingredient-list-item {
  border: 1px solid $brulee-grey-lightest;
  margin-bottom: -1px;
  padding: 10px 15px;
}

.grocery-ingredient-list-item-header {
  display: flex;

  .name {
    flex-grow: 1;
  }

  .done {
    color: rgba($brulee-grey-dark, .4);
  }

  .recipe-count {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: $brulee-white;
    text-align: center;
    vertical-align: baseline;
    background-color: $brulee-grey-darkest;
    border-radius: 10px;
  }
}

.grocery-ingredient-list-item-recipe-list {
  padding: 10px;

  .recipe {
    color: $brulee-grey-dark;
    font-size: 12px;
  }
}

@media screen and (max-width: 992px) {
  .grocery-list-section {
    width: 100%;
  }
}
