.grocery-list-section {
  width: 40%;
}

.gl-recipe-days {
  border: 1px solid #ddd;
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

.gl-recipe-day {
  padding: 10px 15px;
}

.grocery-ingredient-list {
  padding-bottom: 20px;
  padding-left: 0;
  padding-top: 20px;

  .done {
    color: rgba(grey, .4);
  }

  .tooltip-inner {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.gil-category-header {
  background-color: #d9edf7;
  border: 1px solid #ddd;
  color: #31708f;
  list-style: none;
  margin-bottom: -1px;
  padding: 10px 15px;
}

.gil-ingredient {
  border: 1px solid #ddd;
  list-style: none;
  margin-bottom: -1px;
  padding: 10px 15px;
}

@media screen and (max-width: 992px) {
  .grocery-list-section {
    width: 100%;
  }
}
