.rl-recipe-list-section {
  margin-top: 30px;
  width: 50%;
}

.rl-recipe-list-header {
  background-color: rgba($brulee-green-light, .3);
  color: $brulee-green-dark;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 10px 40px;
  text-transform: uppercase;
}

.rl-recipe-filter[type=text] {
  border: 1px solid $brulee-grey-lightest;
  margin: 10px 10px 0 10px;
  padding: 5px 30px;
  width: calc(100% - 20px);
}

.rl-recipe-list {
  padding: 10px 10px 5px 10px;
}

.rl-recipe {
  box-shadow: 1px 1px 3px 0 $brulee-grey-light;
  display: flex;
  margin-bottom: 5px;
  padding: 10px;
}

.rl-recipe-select {
  display: flex;
  font-weight: 400;
  width: 80%;
}

.rl-recipe-title {
  color: $brulee-steel-medium-dark;
  padding-left: 20px;
}

.rl-recipe-link {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  width: 10%;
}

@media screen and (max-width: 992px) {
  .rl-recipe-list-section {
    width: 100%;
  }
}
