.recipe-ingredient-input {
  display: flex;

  .btn-weak {
    font-size: 21px;
    line-height: 1;
    padding-top: 4px;
    padding-bottom: 5px;
  }
}

.rii-typeahead {
  flex-grow: 1;

  .ingredient-typeahead {
    width: 100%;
  }
}
