// bower:scss
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@import 'reset';
@import 'colors';
@import 'typography';
@import 'buttons';
@import 'links';
@import 'dropdowns';
@import 'forms';
@import '../components/listTextArea/listTextArea';
@import 'nav';

@import '../components/statusBar/statusBar';
@import 'recipeIngredientInput';
@import '../components/groceryIngredientListItem/groceryIngredientListItem';
@import '../components/groceryCategoryListItem/groceryCategoryListItem';
@import '../components/groceryListSelect/groceryListSelect';
@import '../components/groceryIngredientPanel/groceryIngredientPanel';
@import '../components/recipeScheduleDay/recipeScheduleDay';
@import '../components/recipeSchedule/recipeSchedule';
@import '../components/ingredientEditList/ingredientEditList';
@import '../components/categoryEditListItem/categoryEditListItem';

@import '../screens/categoryEditScreen/categoryEditScreen';
@import '../screens/addRecipeScreen/addRecipeScreen';
@import '../screens/createListScreen/createListScreen';
@import '../screens/recipeScreen/recipeScreen';
@import '../screens/groceryListScreen/groceryListScreen';

body {
  padding-bottom: 20px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: auto;
  }
}
