
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.savedMessageSection {
  padding-bottom: 20px;
}

.savedMessage {
  padding: 15px;
  text-align: center;
}

.parseButtonSection {
  height: 100%;
}

.parseButton {
  margin-top: 100px;
}

.parsedIngredientSection {
  padding-top: 20px;
  padding-bottom: 20px;
}

.text-input-group-addon {
  padding: 5px 12px;
}
