<html ng-app="addRecipesApp">
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="addRecipes.css" />
    <script src="js/angular.js"></script>
    <script src="js/elasticsearch.angular.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls-0.11.2.js"></script>
    <script type="text/javascript" src="js/ingredient.js"></script>
    <script src="addRecipes.js"></script>
    
    <title>
        Add Recipes
    </title>
</head>

<body>
    <div ng-controller="AddRecipesController" class="container">
        <div class="row">
            <div class="col-md-12 savedMessageSection" ng-show="isSaved">
                <div class="savedMessage bg-success">
                    Recipe saved!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 originalTextSection">
                <textarea class="form-control" ng-model="recipe.originalText" rows="20">
                </textarea>
            </div>
            <div class="col-md-2 parseButtonSection">
                <button class="parseButton btn btn-primary center-block" id="parseButton" ng-click="parseRecipeText()">
                    ==>
                </button>
            </div>
            <div class="col-md-5 saveRecipeSection" ng-show="isParsed">
                <label for="recipeName">
                    Name
                </label>
                <input ng-model="recipe.name" type="text" name="recipeName" />
                <div class="parsedIngredientSection">
                    <div class="ingredient input-group" ng-repeat="ingredient in recipe.ingredients">
                        <span class="input-group-btn">
                            <button class="btn btn-default ingredientDelete" type="button" ng-click="removeIngredient($index)">&times;</button>
                        </span>
                        <span class="input-group-addon text-input-group-addon">
                            <input ng-model="ingredient.amount" type="text" name="ingredientAmount" style="width:50px" />
                        </span>
                        <input class="form-control" typeahead="item for item in items | filter:$viewValue | limitTo:8" typeahead-toggle-on-click="true" ng-model="ingredient.item" type="text" name="ingredient" />
                        <span class="input-group-btn">
                            <button class="btn btn-info">
                                {{getCategory(ingredient)}}
                            </button>
                        </span>
                    </div>
                </div>
                <button class="btn btn-primary" id="addRecipesButton" ng-click="addRecipe()">
                    Add Recipe
                </button>
            </div>
        </div>
    </div>
</body>
</html>
