<!DOCTYPE html>
<html ng-app="bruleeApp">
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/createList.css" />
    <script src="js/angular.js"></script>
    <script src="js/elasticsearch.angular.js"></script>
    <script src="js/jquery-1.11.1.js"></script>
    <script src="js/ingredient.js"></script>
    <script src="js/recipesService.js"></script>
    <script src="js/category.js"></script>

    <title>
        Category
    </title>
</head>

<body>
    <div ng-controller="CategoryCtrl" class="container">
        <div class="row">
            <div class="col-md-5 categoryListSection">
                <div class="categoryList">
                    <ul class="list-group" ng-repeat="category in categories">
                        <li class="list-group-item list-group-item-info">
                            <input class="form-control" ng-model="category.name" type="text" />
                        </li>
                        <li class="list-group-item" ng-repeat="item in category.items">
                            {{item}}
                            <button class="btn btn-primary" ng-click="removeItem($index, category)">
                                Remove Item
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 actionsSection">
                <button class="btn btn-primary" id="saveButton" ng-click="saveCategories()">
                    Save
                </button>
            </div>
        </div>
    </div>
</body>
</html>
