<!DOCTYPE html>
<html ng-app="bruleeApp">
<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/createList.css" />
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/elasticsearch/elasticsearch.angular.js"></script>
    <script src="js/ingredient.js"></script>
    <script src="js/recipesService.js"></script>
    <script src="js/createList.js"></script>

    <title>
        Create Shopping List
    </title>
</head>

<body>
    <div ng-controller="CreateListCtrl" class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-1 recipeList">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Recipes
                    </div>
                    <div class="panel-body">
                        <div class="checkbox" ng-repeat="recipe in recipes">
                            <label>
                                <input type="checkbox" ng-model="recipe._selected">
                                {{recipe.name}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 shoppingListSection">
                <button class="btn btn-primary" id="createListButton" ng-click="calculateShoppingList()">
                    Create Shopping List
                </button>
                <div class="shoppingList">
                    <ul class="list-group" ng-repeat="category in shoppingList">
                        <li class="list-group-item list-group-item-info">
                            {{category.name}}
                        </li>
                        <li class="list-group-item" ng-repeat="(item, amount) in category.items">
                            {{item}} <span class="badge">{{amount}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
