<div class="recipe-ingredient-input">

  <button class="btn-weak"
          ng-click="vm.onRemove()" >
    <span class="fa fa-close"></span>
  </button>

  <input
    type="text"
    class="rii-amount"
    ng-model="vm.amount"
    ng-change="vm.onAmountChange({amount: vm.amount})">

  <input
    type="text"
    class="rii-unit"
    ng-model="vm.unit"
    ng-change="vm.onUnitChange({unit: vm.unit})">

  <ingredient-typeahead
    class="rii-typeahead"
    selected-ingredient="vm.ingredient"
    on-select="vm.changeIngredient(ingredient)" >
  </ingredient-typeahead>

  <category-select
    selected-category="vm.category"
    on-category-change="vm.onCategoryChange({category: category})"
    input-disabled="!vm.isNewIngredient()">
  </category-select>

</div>
