<status-bar
  errors="vm.errors">
</status-bar>

<section class="grocery-list-section">

  <grocery-list-select
    selected-grocery-list-id="vm.groceryListId"
    on-select="vm.selectGroceryList(groceryList.id)">
  </grocery-list-select>

  <section class="grocery-list-view-section">

    <grocery-ingredient-panel
      ng-if="vm.groceryList"
      class="grocery-list-ingredient-section"
      grocery-list="vm.groceryList"
      on-add-ingredient="vm.addIngredient(ingredient)"
      on-error="vm.setError(error)">
    </grocery-ingredient-panel>

    <recipe-schedule
      ng-if="vm.groceryList.recipe_days"
      grocery-list="vm.groceryList"
      class="grocery-list-schedule-section"
      on-change="vm.onRecipeScheduleChange()">
    </recipe-schedule>
  </section>

</section>
