<li class="grocery-ingredient-list-item">

  <header class="grocery-ingredient-list-item-header">
    <div class="name"
         ng-class="{done: $ctrl.isCrossedOut}"
         ng-click="$ctrl.onCrossOut()">
      {{$ctrl.ingredient.name}}
    </div>

    <div class="recipe-count"
         ng-click="$ctrl.toggle()">
      {{$ctrl.recipes.length}}
    </div>
  </header>

  <div ng-show="$ctrl.isExpanded"
       class="grocery-ingredient-list-item-recipe-list">
    <div class="recipe"
         ng-repeat="recipe in $ctrl.recipes">
      {{recipe.name}}
    </div>
  </div>

</li>
