<status-bar
  errors="$ctrl.errors"
  success-message="$ctrl.successMessage">
</status-bar>

<section class="ar-main-section">

  <section class="ar-original-text-section">
    <textarea ng-model="$ctrl.recipe.original_text"
              rows="20">
    </textarea>
  </section>

  <section class="ar-parse-btn-section">
    <button class="btn-primary"
            ng-click="$ctrl.parseRecipeText()">
      ==>
    </button>
  </section>

  <section class="ar-save-recipe-section"
           ng-show="$ctrl.isParsed">

    <fieldset ng-class="{'has-error': !$ctrl.recipe.name && $ctrl.isNameInvalid}">
      <label for="recipeName">
        Name
      </label>
      <input type="text"
             ng-model="$ctrl.recipe.name"
             name="recipeName"
             required>
    </fieldset>

    <fieldset>
      <label for="recipeUrl">
        Url
      </label>
      <input type="text"
             ng-model="$ctrl.recipe.url"
             name="recipeUrl">
    </fieldset>

    <div class="ar-parsed-ingredients">
      <new-recipe-ingredient-input
        ng-repeat="recipe_ingredient in $ctrl.recipe.recipe_ingredients"
        ingredient="recipe_ingredient.ingredient"
        amount="recipe_ingredient.amount"
        unit="recipe_ingredient.unit"
        category="recipe_ingredient.selectedCategory"
        on-remove="$ctrl.removeRecipeIngredient(recipe_ingredient)"
        on-ingredient-change="$ctrl.updateRecipeIngredient(recipe_ingredient, ingredient)"
        on-amount-change="$ctrl.updateRecipeIngredientAmount(recipe_ingredient, amount)"
        on-unit-change="$ctrl.updateRecipeIngredientUnit(recipe_ingredient, unit)"
        on-category-change="$ctrl.updateRecipeIngredientCategory(recipe_ingredient, category)">
      </new-recipe-ingredient-input>
    </div>

    <button class="btn-primary"
            ng-click="$ctrl.addRecipe()">
      Add Recipe
    </button>

    <span class="error"
          ng-if="!$ctrl.recipe.name && $ctrl.isNameInvalid">
      Name is required
    </span>

  </section>

</section>
