.bru-listTextArea {
  border: none;
  box-shadow: 1px 1px 3px 0 $brulee-grey-light;
  color: $brulee-steel-medium-dark;
  font-family: $source-sans-pro;
  font-size: 14px;
  letter-spacing: .5px;
  line-height: 1.4;
  padding: 20px 20px;
}
