@import '../../styles/colors';

.cl-main-section {
  display: flex;
  margin-top: 30px;
  width: 100%;
}

.cl-recipe-list-section {
  padding-right: 10px;
  width: 50%;
}

.cl-recipe-list-header {
  background-color: rgba($brulee-green-light, .3);
  color: $brulee-green-dark;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 10px 40px;
  text-transform: uppercase;
}

.cl-recipe-filter[type=text] {
  border: 1px solid $brulee-grey-lightest;
  margin: 10px 10px 0 10px;
  padding: 5px 30px;
  width: calc(100% - 20px);
}

.cl-recipe-list {
  padding: 10px 10px 5px 10px;
}

.cl-ingredient-list-section {
  padding-left: 10px;
  width: 50%;
}

.cl-recipe-days {
  border: 1px solid $brulee-grey-lightest;
  margin: 20px 0;
}

.cl-recipe-day {
  padding: 10px 15px;
}

@media screen and (max-width: 992px) {
  .cl-main-section {
    display: block;
  }

  .cl-recipe-list-section {
    padding-right: 0;
    width: 100%;
  }

  .cl-ingredient-list-section {
    padding-left: 0;
    width: 100%;
  }
}
