<status-bar
  errors="$ctrl.errors"
  success-message="$ctrl.successMessage">
</status-bar>

<section class="cl-main-section">

  <section class="cl-recipe-list-section">

    <header class="cl-recipe-list-header">
      Recipes
    </header>

    <input type="text"
           class="cl-recipe-filter"
           placeholder="Filter recipes"
           ng-change="$ctrl.filterRecipes()"
           ng-model="$ctrl.recipeSearch.str">

    <ul class="cl-recipe-list">
      <recipe-list-item
        ng-repeat="recipe in $ctrl.filteredRecipes"
        recipe="recipe"
        use-count="$ctrl.recipeUseCountsByRecipeId[recipe.id] || 0"
        on-select-recipe="$ctrl.addRecipe(recipe)"
        on-unselect-recipe="$ctrl.removeRecipe(recipe)">
      </recipe-list-item>
    </ul>

  </section>

  <section class="cl-ingredient-list-section">

    <button ng-show="$ctrl.newGroceryList"
            class="btn-primary"
            ng-click="$ctrl.saveGroceryList()">
      Save Grocery List
    </button>

    <div ng-show="$ctrl.newGroceryList">

      <ul class="cl-recipe-days">
        <li class="cl-recipe-day"
            ng-repeat="recipeDay in $ctrl.newGroceryList.recipe_days">

          <recipe-day-input
            recipe-day="recipeDay"
            on-day-change="$ctrl.updateDayOfWeek(recipeDay, day)">
          </recipe-day-input>

        </li>
      </ul>

    </div>

    <grocery-category-list
      ng-if="$ctrl.categories"
      grocery-list="$ctrl.newGroceryList"
      categories="$ctrl.categories">
    </grocery-category-list>

  </section>

</section>
