<status-bar
  errors="$ctrl.errors"
  success-message="$ctrl.successMessage">
</status-bar>

<section class="cl-main-section">

  <section class="cl-recipe-list-section">

    <header class="cl-recipe-list-header">
      Recipes
    </header>

    <input type="text"
           class="cl-recipe-filter"
           placeholder="Filter recipes"
           ng-change="$ctrl.filterRecipes()"
           ng-model="$ctrl.recipeSearch.str">

    <ul class="cl-recipe-list">
      <li class="cl-recipe"
          ng-repeat="recipe in $ctrl.filteredRecipes">

        <div class="cl-recipe-top">
          <label class="cl-recipe-select">
            <input type="checkbox"
                   ng-model="recipe._selected">
            <div class="cl-recipe-title">
              {{recipe.name}}
            </div>
          </label>
          <div class="cl-recipe-link">
            <a ui-sref="recipe({id: recipe.id})">
              View
            </a>
          </div>
          <div class="cl-recipe-num-used">
            {{$ctrl.recipeUseCountsByRecipeId[recipe.id] || 0}}x
          </div>
        </div>

        <div class="cl-recipe-bottom" ng-if="recipe.tags">
          <span>
            {{recipe.tags}}
          </span>
        </div>

      </li>
    </ul>

  </section>

  <section class="cl-ingredient-list-section">

    <button class="btn-primary"
            ng-click="$ctrl.calculateShoppingList()">
      Generate List
    </button>

    <button ng-show="$ctrl.newGroceryList"
            class="btn-primary"
            ng-click="$ctrl.saveGroceryList()">
      Save Grocery List
    </button>

    <div ng-show="$ctrl.newGroceryList">

      <ul class="cl-recipe-days">
        <li class="cl-recipe-day"
            ng-repeat="recipeDay in $ctrl.newGroceryList.recipe_days">

          <recipe-day-input
            recipe-day="recipeDay"
            on-day-change="$ctrl.updateDayOfWeek(recipeDay, day)">
          </recipe-day-input>

        </li>
      </ul>

    </div>

    <grocery-category-list
      ng-if="$ctrl.categories"
      grocery-list="$ctrl.newGroceryList"
      categories="$ctrl.categories">
    </grocery-category-list>

  </section>

</section>
