<div class="grocery-list-select-container">

  <div class="grocery-list-select-collapsed"
       ng-if="!vm.showOptions && vm.selectedGroceryList">

    <button class="btn-select"
            ng-disabled="true">
      {{vm.displayName(vm.selectedGroceryList)}}
    </button>

    <button class="btn-link"
            ng-click="vm.openOptions()">
      Change
    </button>

  </div>

  <ul class="grocery-list-select-expanded"
      ng-if="vm.showOptions || !vm.selectedGroceryList">

    <button ng-repeat="groceryList in vm.groceryLists"
            ng-class="{'btn-primary': !vm.isSelected(groceryList), 'btn-select': vm.isSelected(groceryList)}"
            ng-click="vm.onSelect({groceryList})">
      {{vm.displayName(groceryList)}}
    </button>

  </ul>

</div>
