<status-bar
  errors="vm.errors"
  success-message="vm.successMessage">
</status-bar>

<section class="bru-categoryEditPage-main">

  <section class="bru-categoryEditPage-actions">

    <div class="bru-categoryEditPage-addCategory">
      <input type="text"
             ng-model="newCategory">
      <button class="btn-primary"
              ng-click="vm.addCategory(newCategory)">
        Add Category
      </button>
    </div>

  </section>

  <section class="bru-categoryEditPage-categoryList">

    <ul class="bru-categoryEditPage-categoryListItem"
        ng-repeat="category in vm.categories">

      <category-edit-list-item
        category="category"
        on-update="vm.updateCategory()"
        on-remove="vm.removeCategory(category.id)">
      </category-edit-list-item>

    </ul>

  </section>

</section>
