<div class="dropdown-wrapper" dropdown>
  <button class="btn-select"
          dropdown-toggle
          ng-disabled="vm.inputDisabled">
    {{vm.displayName(vm.selectedCategory)}}
  </button>
  <ul class="dropdown-menu" role="menu">
    <li ng-click="vm.onCategoryChange({category: null})">
      <a href>
        None
      </a>
    </li>
    <li ng-repeat="category in vm.categories"
        ng-click="vm.onCategoryChange({category: category})">
      <a href>
        {{category.name}}
      </a>
    </li>
  </ul>
</div>
