<status-bar
  errors="errors"
  success-message="successMessage">
</status-bar>

<section class="ar-main-section">

  <section class="ar-original-text-section">
    <textarea ng-model="recipe.original_text"
              rows="20">
    </textarea>
  </section>

  <section class="ar-parse-btn-section">
    <button class="btn-primary"
            ng-click="parseRecipeText()">
      ==>
    </button>
  </section>

  <section class="ar-save-recipe-section"
           ng-show="isParsed">

    <fieldset ng-class="{'has-error': !recipe.name && isNameInvalid}">
      <label for="recipeName">
        Name
      </label>
      <input type="text"
             ng-model="recipe.name"
             name="recipeName"
             required>
    </fieldset>

    <fieldset>
      <label for="recipeUrl">
        Url
      </label>
      <input type="text"
             ng-model="recipe.url"
             name="recipeUrl">
    </fieldset>

    <div class="ar-parsed-ingredients">
      <new-recipe-ingredient-input
        ng-repeat="recipe_ingredient in recipe.recipe_ingredients"
        ingredient="recipe_ingredient.ingredient"
        category="recipe_ingredient.selectedCategory"
        on-remove="removeRecipeIngredient(recipe_ingredient)"
        on-ingredient-change="updateRecipeIngredient(recipe_ingredient, ingredient)"
        on-category-change="updateRecipeIngredientCategory(recipe_ingredient, category)">
      </new-recipe-ingredient-input>
    </div>

    <button class="btn-primary"
            ng-click="addRecipe()">
      Add Recipe
    </button>

    <span class="error"
          ng-if="!recipe.name && isNameInvalid">
      Name is required
    </span>

  </section>

</section>
