<li>

  <header class="bru-categoryEditListItem-header">

    <h1 class="bru-categoryEditListItem-title"
        ng-if="!vm.isEditing">
      {{vm.category.name}}
    </h1>

    <input
      type="text"
      class="bru-categoryEditListItem-titleEdit"
      ng-if="vm.isEditing"
      ng-model="vm.category.name">

    <fieldset class="bru-categoryEditListItem-actions">
      <button class="btn-weak"
              ng-click="vm.toggleEditing()">
        <span class="fa fa-edit"></span>
        Edit
      </button>
      <button class="btn-weak"
              ng-click="vm.onRemove()">
        <span class="fa fa-trash-o"></span>
        Remove
      </button>
    </fieldset>

  </header>

  <div class="bru-categoryEditListItem-addIngredientForm"
       ng-if="vm.isEditing">
    <add-ingredient-form
      on-add="vm.addIngredient(ingredient)">
    </add-ingredient-form>
  </div>

  <ingredient-edit-list
    ingredients="vm.ingredients"
    input-disabled="!vm.isEditing"
    on-remove="vm.removeIngredient(ingredient)">
  </ingredient-edit-list>

</li>
