<span>
  <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" ng-disabled="vm.inputDisabled">
    {{vm.displayName(vm.selectedCategory)}}
    <span class="caret" ng-show="!vm.inputDisabled"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li ng-click="vm.selectCategory(null)">
      <a ng-href="#/addRecipes">
        None
      </a>
    </li>
    <li ng-repeat="category in vm.categories" ng-click="vm.selectCategory(category)">
      <a ng-href="#/addRecipes">
        {{category.name}}
      </a>
    </li>
  </ul>
</span>
