<status-bar
  errors="errors"
  success-message="successMessage">
</status-bar>

<section class="cat-main-section">

  <section class="cat-action-section">

    <button class="btn-primary"
            ng-click="saveCategories()">
      Save All
    </button>

    <div class="cat-new-category-form">
      <input type="text"
             ng-model="newCategory">
      <button class="btn-primary"
              ng-click="addCategory(newCategory)">
        Add Category
      </button>
    </div>

  </section>

  <section class="cat-list-section">

    <ul class="cat-category" ng-repeat="category in categories">

      <category-edit-list-item
        category="category"
        on-remove="removeCategory(category.id)">
      </category-edit-list-item>

    </ul>

  </section>

</section>
