<div class="container">
    <div class="row">
        <div class="col-md-5 categoryListSection">
            <div class="categoryList">
                <ul class="list-group" ng-repeat="category in categories">
                    <li class="list-group-item list-group-item-info">
                        <input class="form-control" ng-model="category.name" type="text" />
                        <button class="btn btn-primary" ng-click="removeCategory(category)">
                            Remove
                        </button>
                    </li>
                    <li class="list-group-item" ng-repeat="item in category.items">
                        {{item}}
                        <button class="btn btn-primary" ng-click="removeItem($index, category)">
                            Remove Item
                        </button>
                    </li>
                    <li class="list-group-item">
                        <input class="form-control" ng-model="newItem" type="text" />
                        <button class="btn btn-primary" ng-click="addItem(newItem, category)">
                            Add Item
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-5 actionsSection">
            <button class="btn btn-primary" id="saveButton" ng-click="saveCategories()">
                Save
            </button>
        </div>
        <div class="col-md-5 actionsSection">
            <input type="text" ng-model="newCategory" />
            <button class="btn btn-primary" ng-click="addCategory(newCategory)">
                Add Category
            </button>
        </div>
    </div>
</div>
