<status-bar
  errors="errors"
  success-message="successMessage">
</status-bar>

<section class="cl-main-section">

  <section class="cl-recipe-list-section">

    <header class="cl-recipe-list-header">
      Recipes
    </header>

    <ul class="cl-recipe-list">
      <li class="cl-recipe"
          ng-repeat="recipe in recipes">

        <div class="cl-recipe-top">
          <label class="cl-recipe-select">
            <input type="checkbox"
                   ng-model="recipe._selected">
            <div class="cl-recipe-title">
              {{recipe.name}}
            </div>
          </label>
          <div class="cl-recipe-link">
            <a ui-sref="recipe({id: recipe.id})">
              View
            </a>
          </div>
          <div class="cl-recipe-num-used">
            {{numUsed(recipe)}}x
          </div>
        </div>

        <div class="cl-recipe-bottom" ng-if="recipe.tags">
          <span>
            {{recipe.tags}}
          </span>
        </div>

      </li>
    </ul>

  </section>

  <section class="cl-ingredient-list-section">

    <button class="btn-primary"
            ng-click="calculateShoppingList()">
      Generate List
    </button>

    <button ng-show="newGroceryList"
            class="btn-primary"
            ng-click="saveGroceryList()">
      Save Grocery List
    </button>

    <div ng-show="newGroceryList">

      <ul class="cl-recipe-days">
        <li class="cl-recipe-day"
            ng-repeat="recipeDay in newGroceryList.recipe_days">

          <recipe-day-input
            recipe-day="recipeDay"
            on-day-change="updateDayOfWeek(recipeDay, day)">
          </recipe-day-input>

        </li>
      </ul>

    </div>

    <grocery-ingredient-list
      grocery-ingredients="groceryIngredients">
    </grocery-ingredient-list>

  </section>

</section>
