<status-bar
  errors="vm.errors">
</status-bar>

<section class="grocery-list-section">

  <grocery-list-select
    selected-grocery-list-id="vm.groceryList.id">
  </grocery-list-select>

  <section class="grocery-list-view-section">

    <grocery-ingredient-panel
      ng-if="vm.groceryList"
      class="grocery-list-ingredient-section"
      grocery-list="vm.groceryList"
      on-error="vm.setError(error)">
    </grocery-ingredient-panel>

    <recipe-schedule
      ng-if="vm.groceryList.recipe_days"
      class="grocery-list-schedule-section"
      recipe-days="vm.groceryList.recipe_days">
    </recipe-schedule>
  </section>

</section>
