<section class="grocery-ingredient-panel">

  <header class="grocery-ingredient-panel-menu">
    <button class="btn-weak"
            ng-click="vm.clearCrossedOutIngredients()">
      <span class="fa fa-undo"></span>
      Clear Cross-outs
    </button>

    <button class="btn-weak"
            ng-click="vm.openAddIngredient()">
      <span class="fa fa-plus"></span>
      Add Ingredient
    </button>
  </header>

  <add-ingredient-form
    ng-if="vm.showAddIngredient"
    on-add="vm.addIngredient(ingredient)">
  </add-ingredient-form>

  <grocery-ingredient-list
    ng-if="vm.groceryIngredients"
    grocery-ingredients="vm.groceryIngredients"
    crossed-out-ingredients="vm.crossedOutIngredients"
    on-cross-out="vm.crossOut(ingredient)">
  </grocery-ingredient-list>

</section>
