<section class="grocery-list-section">

  <a class="btn-primary"
     ui-sref="grocery({id: groceryList.id})"
     ng-repeat="groceryList in groceryLists">
    {{groceryList.week_start}}
  </a>

  <ul class="gl-recipe-days">
    <li class="gl-recipe-day"
        ng-repeat="recipeDay in groceryList.recipe_days">

      <recipe-day-input
        recipe-day="recipeDay"
        input-disabled="true">
      </recipe-day-input>

    </li>
  </ul>

  <add-ingredient-form
    on-add="addIngredient(ingredient)">
  </add-ingredient-form>

  <button class="btn-primary"
          ng-click="clearCrossedOutIngredients()">
    Clear Cross-outs
  </button>

  <grocery-ingredient-list
    grocery-ingredients="groceryIngredients"
    crossed-out-ingredients="crossedOutIngredients"
    on-cross-out="crossOut(ingredient)">
  </grocery-ingredient-list>

</section>
