<div class="container">
  <div class="row">
    <div class="col-md-5 shoppingListSection">

      <a class="btn btn-primary"
         id="createListButton"
         ng-href="#/grocery/{{groceryList.id}}"
         ng-repeat="groceryList in groceryLists">
        {{groceryList.week_start}}
      </a>

      <add-ingredient-form on-add="addIngredient(ingredient)">
      </add-ingredient-form>

      <grocery-ingredient-list
        grocery-ingredients="groceryList.groceryIngredients"
        crossed-out-ingredients="crossedOutIngredients">
      </grocery-ingredient-list>

    </div>
  </div>
</div>