<ul class="grocery-ingredient-list"
    ng-repeat="categoryIngredients in vm.groceryIngredients">

  <li class="gil-category-header">
    {{categoryIngredients.name}}
  </li>

  <li class="gil-ingredient"
      ng-class="{done: vm.crossedOut(ingredient)}"
      ng-repeat="ingredient in categoryIngredients.ingredients track by $index"
      ng-click="vm.crossOut(ingredient)">
    {{ingredient.name}}
    <span class="badge"
          uib-tooltip="{{ingredient.recipeNames.join(', ')}}"
          tooltip-placement="right">
      {{ingredient.recipeNames.length}}
    </span>
  </li>

</ul>
