<status-bar
  errors="errors"
  success-message="successMessage">
</status-bar>

<section class="recipe-edit-section">

  <button class="btn-delete" ng-click="delete()">
    Delete
  </button>

  <button class="btn-save" ng-click="save()">
    Save
  </button>

  <a class="btn-external-link"
     ng-href="{{recipe.url}}"
     ng-show="recipe.url">
    Link
  </a>

  <div class="re-recipe-title">
    <input type="text" ng-model="recipe.name">
  </div>

  <div class="re-recipe-link">
    <input ng-model="recipe.url">
  </div>

  <header class="re-recipe-ingredient-title">
    Ingredients
  </header>

  <button class="re-add-ingredient-button" ng-click="addRecipeIngredient()">
    Add Ingredient
  </button>

  <section class="re-recipe-ingredient-list">
    <recipe-ingredient-input
      ng-repeat="recipe_ingredient in recipe.recipe_ingredients"
      recipe-ingredient="recipe_ingredient"
      on-remove="removeRecipeIngredient(recipe_ingredient)"
      on-ingredient-change="updateRecipeIngredient(recipe_ingredient, ingredientId)">
    </recipe-ingredient-input>
  </section>

  <header class="re-recipe-original-text-title">
    Original Recipe
  </header>

  <section class="re-recipe-original-text">
    <p ng-repeat="originalTextLine in originalTextLines">
      {{originalTextLine}}
    </p>
  </section>

</section>
