<status-bar
  errors="errors"
  success-message="successMessage">
</status-bar>

<section class="rl-recipe-list-section">

  <header class="rl-recipe-list-header">
    Recipes
  </header>

  <input type="text"
         class="rl-recipe-filter"
         placeholder="Filter recipes"
         ng-change="filterRecipes()"
         ng-model="recipeSearch.str">

  <ul class="rl-recipe-list">
    <li class="rl-recipe"
        ng-repeat="recipe in filteredRecipes">

      <div class="rl-recipe-select">
        <div class="rl-recipe-title">
          {{recipe.name}}
        </div>
      </div>
      <div class="rl-recipe-link">
        <a ui-sref="recipe({id: recipe.id})"
           target="_blank">
          View
        </a>
      </div>

    </li>
  </ul>

</section>
