<div class="ingredient input-group">
  <span class="input-group-btn">
    <button class="btn btn-default ingredientDelete"
            type="button"
            ng-click="vm.onRemove({recipeIngredient: vm.recipeIngredient})" >
      &times;
    </button>
  </span>
  <ingredient-typeahead
    selected-ingredient="vm.recipeIngredient.ingredient"
    on-select="vm.onIngredientChange(ingredient)" >
  </ingredient-typeahead>
  <category-select
    class="input-group-btn"
    selected-category="vm.recipeIngredient.selectedCategory"
    input-disabled="!vm.isNewIngredient()" >
  </category-select>
</div>
