.grocery-ingredient-list {
  padding-bottom: 20px;
  padding-top: 20px;
}

.grocery-ingredient-list-category-header {
  background-color: $brulee-steel-light;
  border: 1px solid $brulee-grey-lightest;
  color: $brulee-purple-medium;
  margin-bottom: -1px;
  padding: 10px 15px;
}
