@import '../../styles/colors';

.bru-recipeScheduleDay {
  padding: 15px 30px;

  &-header {
    > * {
      display: inline-block;
      vertical-align: middle;
    }

    > h1 {
      font-size: 12px;
      text-transform: uppercase;

      &.today {
        color: $brulee-red;
        font-weight: 700;
      }
    }

    > .btn-weak {
      text-transform: none;
      margin-left: 10px;
      padding: 5px 10px;
    }
  }

  .bru-addRecipeForm {
    margin-left: 10px;
  }

  &-recipes {
    margin-top: 10px;

    .btn-weak {
      border: none;
      padding: 5px;
    }
  }
}
