@import '../../styles/colors';

.recipe-schedule-day {
  padding: 15px 30px;

  h1 {
    font-size: 12px;
    text-transform: uppercase;

    &.today {
      color: $brulee-red;
      font-weight: 700;
    }
  }
}

.recipe-schedule-day-recipes {
  margin-top: 10px;
}
