<li class="bru-recipeScheduleDay">

  <header class="bru-recipeScheduleDay-header">
    <h1 ng-class="{today: $ctrl.isToday}">
      {{$ctrl.dayName}}
    </h1>

    <button class="btn-weak"
            ng-click="$ctrl.toggleAddRecipe()"
            ng-if="$ctrl.editing && !$ctrl.addingRecipe">
      <span class="fa fa-plus"></span>
      Add Recipe
    </button>

    <add-recipe-form
      ng-if="$ctrl.addingRecipe"
      on-add="$ctrl.addRecipe(recipe)">
    </add-recipe-form>
  </header>

  <ul class="bru-recipeScheduleDay-recipes">
    <li ng-repeat="recipe in $ctrl.recipes">
      <button class="btn-weak"
              ng-click="$ctrl.removeRecipe(recipe)"
              ng-if="$ctrl.editing">
        <span class="fa fa-close"></span>
      </button>
      <a ui-sref="recipe({id: recipe.id})">
        {{recipe.name}}
      </a>
      <a ng-if="recipe.url"
         ng-href="{{recipe.url}}"
         target="blank">
        [Link]
      </a>
    </li>
  </ul>

</li>
