<section class="grocery-ingredient-panel">

  <header class="grocery-ingredient-panel-menu">
    <button class="btn-weak"
            ng-click="$ctrl.clearCrossedOutIngredients()">
      <span class="fa fa-undo"></span>
      Clear Cross-outs
    </button>

    <button class="btn-weak"
            ng-click="$ctrl.openAddIngredient()">
      <span class="fa fa-plus"></span>
      Add Ingredient
    </button>
  </header>

  <add-ingredient-form
    ng-if="$ctrl.showAddIngredient"
    on-add="$ctrl.onAddIngredient({ingredient})">
  </add-ingredient-form>

  <grocery-category-list
    ng-if="$ctrl.categories"
    categories="$ctrl.categories"
    crossed-out-ingredients="$ctrl.crossedOutIngredients"
    on-cross-out="$ctrl.crossOut(ingredient)">
  </grocery-category-list>

</section>
