.grocery-ingredient-panel {
  .bru-addIngredientForm {
    padding: 0;

    .bru-ingredientTypeahead {
      width: 230px;
    }
  }
}

.grocery-ingredient-panel-menu {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;

  .btn-weak {
    margin-right: 10px;
    padding: 5px 10px;
  }

  .fa-undo,
  .fa-plus {
    margin-right: 6px;
  }
}
