.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
}

.btn-select {
  background-color: #24b47e;
  border: 1px solid #209f6f;
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  opacity: .65;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: auto;
  }
}
