.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
}

.btn-select {
  background-color: #24b47e;
  border: 1px solid #209f6f;
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  opacity: .65;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
}

.navbar-container {
  background-color: #f6f9fc;
  color: #8898aa;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 40px;
}

.navbar-container a {
  color: #8898aa;
  display: block;
  line-height: 1;
  text-decoration: none;
}

.navbar-container a:hover {
  color: #5d6483;
}

.navbar-container .navbar-header,
.navbar-container .navbar-main {
  display: flex;
}

.navbar-container .navbar-main a {
  padding: 20px 10px;
}

.navbar-container .navbar-logo {
  font-size: 18px;
  font-weight: 600;
  padding: 17px 10px;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: auto;
  }
}

@media screen and (max-width: 700px) {
  .navbar-container {
    display: block;
  }

  .navbar-container .navbar-main {
    flex-wrap: wrap;
  }
}
